{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Rasa Nusantara</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="pb-8 min-h-screen flex flex-col bg-[#453229] w-full">

    <section class="mb-2">
        <img src="{% static 'image/mainview.webp' %}" alt="Main view" class="w-full h-[600px] object-cover rounded-lg">
    </section>

    <section class="mb-12 mt-5 relative">
        <div class="flex items-center justify-between">
            <h2 class="text-xl text-white mb-6 text-left pl-5">Restoran Populer</h2>
            <a href="{% url 'main:restaurant' %}" class="text-white bg-[#EB7C3F] hover:bg-[#d96f39] px-4 py-2 rounded-full cursor-pointer ml-auto mr-5 mb-6 text-center">
                Lihat Restoran Lain
            </a>
        </div>
        
    
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6 px-6 justify-center align-items">
            {% for restaurant in restaurants %}
                {% include 'card_product.html' %}
            {% endfor %}
        </div>
    </section>
    </div>

{% endblock content %}
